/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-doc {
  background-image: url(../static/img/sprite.png);
  background-position: 0px 0px;
  width: 46px;
  height: 60px;
}
.icon-facebook {
  background-image: url(../static/img/sprite.png);
  background-position: -72px -60px;
  width: 30px;
  height: 30px;
}
.icon-floor {
  background-image: url(../static/img/sprite.png);
  background-position: -171px -42px;
  width: 21px;
  height: 20px;
}
.icon-info_adress {
  background-image: url(../static/img/sprite.png);
  background-position: 0px -100px;
  width: 26px;
  height: 41px;
}
.icon-info_build {
  background-image: url(../static/img/sprite.png);
  background-position: -138px 0px;
  width: 33px;
  height: 41px;
}
.icon-info_company {
  background-image: url(../static/img/sprite.png);
  background-position: -171px 0px;
  width: 24px;
  height: 42px;
}
.icon-info_cost {
  background-image: url(../static/img/sprite.png);
  background-position: -138px -41px;
  width: 30px;
  height: 41px;
}
.icon-info_date {
  background-image: url(../static/img/sprite.png);
  background-position: 0px -60px;
  width: 41px;
  height: 40px;
}
.icon-instagram {
  background-image: url(../static/img/sprite.png);
  background-position: -102px -60px;
  width: 30px;
  height: 30px;
}
.icon-odnoklassniki {
  background-image: url(../static/img/sprite.png);
  background-position: -41px -60px;
  width: 31px;
  height: 30px;
}
.icon-pdf {
  background-image: url(../static/img/sprite.png);
  background-position: -46px 0px;
  width: 45px;
  height: 60px;
}
.icon-slider_arrow {
  background-image: url(../static/img/sprite.png);
  background-position: -26px -100px;
  width: 26px;
  height: 41px;
}
.icon-status_icon {
  background-image: url(../static/img/sprite.png);
  background-position: -91px 0px;
  width: 47px;
  height: 41px;
}
.icon-vk {
  background-image: url(../static/img/sprite.png);
  background-position: -52px -100px;
  width: 30px;
  height: 30px;
}
